.parent 
{
    /* without this in this parent div, its child elements will not be positioning to this when using absolute for example */
    /* btw it ain't gotta be relative, it just can't be static */ 
    position: relative;
    margin-top: 150px;
}

.child-one 
{
    /* relative is same as static but allows for position settings like top and left */
    /* position: relative;
    left: 10px;
    top: 10px; */

    /* position: absolute;
    top: 0px; */

    /* fixed is based off the entire HTML page, not it's first "parent" */
    /* they also stay in same place when scrolling */ 
    position: fixed;
    top: 0px;

    /* by "default", sticky is relative but when scrolling it becomes fixed, pretty cool ngl*/
    /* position: sticky;
    top: 0; */
}

.child-two 
{

}

.child-three 
{

}